<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    <ion-button (click)="goToProfilePage()">
      <ion-icon name="cart"></ion-icon> <!-- Use o ícone apropriado para o perfil -->
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <h1>Produtos</h1>
  <ion-card *ngFor="let p of produtos">
    <img src={{p.image}}/>
    <ion-card-header>
      <ion-card-title><div class="pcort">{{p.preco.replace('.',',')}}</div>
        </ion-card-title>
      <ion-card-subtitle>{{p.nome}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{p.descricao}}
    </ion-card-content>
    <ion-button>Comprar</ion-button>
  </ion-card>
</ion-content>
