<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <swiper-container autoplay="3000" speed="800" pagination="true">
    <swiper-slide><img src="../../assets/logos/_350675f7-e9b1-49e2-9dbf-e6587caddd88.jpg"/></swiper-slide>
    <swiper-slide><img src="../../assets/logos/_860fa8b5-a023-4b74-b664-f8c9e4445501.jpg"/></swiper-slide>
    <swiper-slide><img src="../../assets/logos/_a4002d69-2dac-43b4-b746-39146bcbaac9.jpg"/></swiper-slide>
  </swiper-container>
</ion-content>
