ion-menu-button {
  color: var(--ion-color-primary);
}

ion-content {
  --background: url('../../assets/logos/_4d9726ec-ea0f-41a5-8d1b-612cf13cd506.jpg') no-repeat center center fixed;
  background-size: cover;
}






