<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Departamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container" style="height: 50vh; overflow-y: auto;">
  <ion-item [button]="true" lines="full">
    <ion-label>HARDWARE  </ion-label>
    <ion-note slot="end"></ion-note>
  </ion-item>

  <ion-item [button]="true" lines="full">
    <ion-label>CONSOLE  </ion-label>
    <ion-note slot="end"></ion-note>
  </ion-item>

  <ion-item [button]="true" lines="full">
    <ion-label>PERIFÉRICOS  </ion-label>
    <ion-note slot="end"></ion-note>
  </ion-item>

  <ion-item [button]="true" lines="full">
    <ion-label>CELULARES </ion-label>
    <ion-note slot="end"></ion-note>
  </ion-item>

  <ion-item [button]="true" lines="full">
    <ion-label>COMPUTADORES  </ion-label>
    <ion-note slot="end"></ion-note>
  </ion-item>

  <ion-item [button]="true" lines="full">
    <ion-label>TELEVISÃO </ion-label>
    <ion-note slot="end"></ion-note>
  </ion-item>

  <ion-item [button]="true" lines="full">
    <ion-label>GAMES </ion-label>
    <ion-note slot="end"></ion-note>
  </ion-item>

  <ion-item [button]="true" lines="full">
    <ion-label>IMPRESSORA </ion-label>
    <ion-note slot="end"></ion-note>
  </ion-item>

  <ion-item [button]="true" lines="full">
    <ion-label>REDES  </ion-label>
    <ion-note slot="end"></ion-note>
  </ion-item>
  
  <ion-item [button]="true" lines="full">
    <ion-label>SOFTWARE  </ion-label>
    <ion-note slot="end"></ion-note>
  </ion-item>

  <ion-item [button]="true" lines="full">
    <ion-label>OUTROS  </ion-label>
    <ion-note slot="end"></ion-note>
  </ion-item>

</div>

</ion-content>
