
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>






  <ion-item>
    <ion-label>Categoria de Pesquisa</ion-label>
    <ion-select [(ngModel)]="searchCategory" (ionChange)="filterItems()">
      <ion-select-option value="all">Todas</ion-select-option>
      <ion-select-option value="Placa de Vídeo">Placa de vídeo</ion-select-option>
      <ion-select-option value="Processador">Processador</ion-select-option>
      <ion-select-option value="Memória">Memória</ion-select-option>
      <ion-select-option value="Placa Mãe">Placa mãe</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-content>
  <ion-card *ngFor="let produto of produtosFiltrados">
    <img [src]="produto.image" />
    <ion-card-header>
      <ion-card-title>{{ produto.nome }}</ion-card-title>
      <ion-card-subtitle>
        <div class="pcort">{{ produto.preco.replace('.', ',') }}</div>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content *ngIf="mostrarDescricao">
      <div [innerHTML]="formatarDescricao(produto.descricao)"></div>
    </ion-card-content>
    <button class="info" (click)="mostrarDescricao = !mostrarDescricao">Mais informações</button>
    <ion-button class="custom-button" (click)="comprar()" (click)="adicionarAoCarrinho(produto)"  style="width: 90%;">Comprar</ion-button>

  </ion-card>
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="irParaCarrinho()">
    <ion-icon name="cart"></ion-icon>
    <ion-badge color="danger">{{comprasService.compras}}</ion-badge>
  </ion-fab-button>
</ion-fab>