<div *ngIf="logado">
  <ion-img src={{user.foto}}></ion-img>
  <h1>{{user.nome}}</h1>
  <ion-button (click)="logout()">LogOut</ion-button>
</div>
<form *ngIf="!cad && !logado">
  <h1>Formulário de Login</h1>
  <ion-input label-placement="floating" label="email" fill="outline" placeholder="insira seu email" #email></ion-input>
  <ion-input label="senha" type="password" label-placement="floating" fill="outline" placeholder="insira sua senha"
    #senha>

  </ion-input>
  <ion-button expand="block" (click)="Logar(email.value, senha.value)">Login</ion-button>

  <p>Não é cadastrado? <a (click)="cad=!cad">Cadastrar-se</a></p>
<!--   <p>Quer se um tecnco parceiro? <a (click)="cadt=!cadt">Cadastrar-se</a></p>
 -->  <ion-button fill="outline" expand="block" (click)="loginComGoogle()"><ion-thumbnail><img
        src="../../../assets/logos/googleLogo.png"></ion-thumbnail>Login com google</ion-button>
</form>

<form *ngIf="cad">
  <h1>Formulário de Cadastro</h1>
  <ion-input label="email" label-placement="floating" fill="outline" placeholder="insira seu email" #email></ion-input>
  <ion-input label="senha" type="password" label-placement="floating" fill="outline" placeholder="insira sua senha"
    #senha></ion-input>
  <ion-input label="Repita sua senha" type="password" label-placement="floating" fill="outline"
    placeholder="insira novamente sua senha" #RpSenha></ion-input>

  <ion-button expand="block" (click)="cadUser(email.value, senha.value, RpSenha.value)">Cadastrar</ion-button>
  <p>Já é cadastrado? <a (click)="cad=!cad">fazer login</a></p>
</form>

<!-- <form *ngIf="cadt">
  <h1>Formulário de Cadastro</h1>
  <ion-input label="email" label-placement="floating" fill="outline" placeholder="insira seu email" #email></ion-input>
  <ion-input label="senha" type="password" label-placement="floating" fill="outline" placeholder="insira sua senha"
    #senha></ion-input>
  <ion-input label="Repita sua senha" type="password" label-placement="floating" fill="outline"
    placeholder="insira novamente sua senha" #RpSenha></ion-input>

  <ion-button expand="block" (click)="cadt(email.value, senha.value, RpSenha.value)">Cadastrar</ion-button>
  <p>Já é cadastrado? <a (click)="cadt=!cadt">fazer login</a></p>
</form> -->
<!-- <form *ngIf="cadPessoal">
  <h1>Formulário de Cadastro Pessoal</h1>
  <ion-input label="Nome" #nome1 label-placement="floating" fill="outline" placeholder="Insira seu nome" [(ngModel)]="nome"></ion-input>
  <ion-input label="Sobrenome" #sobrenome label-placement="floating" fill="outline" placeholder="Insira seu sobrenome" [(ngModel)]="sobrenome"></ion-input>
  <ion-select [(ngModel)]="sexo" #sexo placeholder="Selecione o sexo">
  <ion-input label="Nome" #nome1 label-placement="floating" fill="outline" placeholder="Insira seu nome" [(ngModel)]="nome"></ion-input>
  <ion-input label="Sobrenome" #sobrenome label-placement="floating" fill="outline" placeholder="Insira seu sobrenome" [(ngModel)]="sobrenome"></ion-input>
  <ion-select [(ngModel)]="sexo" #sexo placeholder="Selecione o sexo">
    <ion-select-option value="masculino">Masculino</ion-select-option>
    <ion-select-option value="feminino">Feminino</ion-select-option>
  </ion-select>
  <ion-input label="CPF" #cpf label-placement="floating" fill="outline" placeholder="Insira seu CPF" [(ngModel)]="cpf"></ion-input>
  <ion-input label="Data de Nascimento" #nascimento label-placement="floating" fill="outline" placeholder="DD/MM/AAAA" [(ngModel)]="nascimento"></ion-input>
  <ion-input label="Telefone" #telefone label-placement="floating" fill="outline" placeholder="Insira seu telefone" [(ngModel)]="telefone"></ion-input>
  <ion-input [(ngModel)]="cep" #cep name="cep" type="text" required></ion-input>
  <ion-input [(ngModel)]="rua" #rua name="rua" type="text" required></ion-input>
  <ion-input [(ngModel)]="numero" #numero name="numero" type="text" required></ion-input>
  <ion-input [(ngModel)]="complemento" #complemento name="complemento" type="text"></ion-input>
  <ion-input [(ngModel)]="referencia" #referencia name="referencia" type="text"></ion-input>
  <ion-input [(ngModel)]="bairro" #bairro name="bairro" type="text" required></ion-input>
  <ion-input [(ngModel)]="cidade" #cidade name="cidade" type="text" required></ion-input>
  <ion-input [(ngModel)]="estado" #estado name="estado" type="text" required></ion-input>
  <ion-button expand="block" (click)="cadastrarPessoal(nome1.value, sobrenome.value,sexo.value, cpf.value, nascimento.value, telefone.value , cep.value ,  rua.value, numero.value, complemento.value ,referencia.value, bairro.value, cidade.value, estado.value)">Cadastrar</ion-button>
</form> -->
  <ion-input label="CPF" #cpf label-placement="floating" fill="outline" placeholder="Insira seu CPF" [(ngModel)]="cpf"></ion-input>
  <ion-input label="Data de Nascimento" #nascimento label-placement="floating" fill="outline" placeholder="DD/MM/AAAA" [(ngModel)]="nascimento"></ion-input>
  <ion-input label="Telefone" #telefone label-placement="floating" fill="outline" placeholder="Insira seu telefone" [(ngModel)]="telefone"></ion-input>
  <ion-input [(ngModel)]="cep" #cep name="cep" type="text" required></ion-input>
  <ion-input [(ngModel)]="rua" #rua name="rua" type="text" required></ion-input>
  <ion-input [(ngModel)]="numero" #numero name="numero" type="text" required></ion-input>
  <ion-input [(ngModel)]="complemento" #complemento name="complemento" type="text"></ion-input>
  <ion-input [(ngModel)]="referencia" #referencia name="referencia" type="text"></ion-input>
  <ion-input [(ngModel)]="bairro" #bairro name="bairro" type="text" required></ion-input>
  <ion-input [(ngModel)]="cidade" #cidade name="cidade" type="text" required></ion-input>
  <ion-input [(ngModel)]="estado" #estado name="estado" type="text" required></ion-input>
  <ion-button expand="block" (click)="cadastrarPessoal(nome1.value, sobrenome.value,sexo.value, cpf.value, nascimento.value, telefone.value , cep.value ,  rua.value, numero.value, complemento.value ,referencia.value, bairro.value, cidade.value, estado.value)">Cadastrar</ion-button>
</form> -->

<ion-toast [isOpen]="isToastOpen" message={{mensagem}} [duration]="5000" (didDismiss)="setOpen(false)"></ion-toast>