<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Serviço Técnico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label>Categoria de Pesquisa</ion-label>
    <ion-select [(ngModel)]="searchCategory" (ionChange)="filterItems()">
      <ion-select-option value="all">Todas</ion-select-option>
      <ion-select-option value="Manutenção de Computadores">Manutenção de Computadores</ion-select-option>
      <ion-select-option value="Instalação de cabo de internet">Instalação de cabo de internet</ion-select-option>
      <ion-select-option value="Manutenção e reparo de hardwares">Manutenção e reparo de hardwares</ion-select-option>
    </ion-select>
  </ion-item>



  <ion-card *ngFor="let tecnico of tecnicosFiltrados">
    <img [src]="tecnico.image" class="image" />

    <ion-card-header>
      <ion-card-title>{{ tecnico.nome }} - {{ tecnico.habilidades }}</ion-card-title>
      <ion-card-subtitle>
        <ion-icon *ngFor="let i of getStars(tecnico.avaliacao)" name="star"></ion-icon>
        5
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Tempo de Experiencia - {{ tecnico.tempoExperiencia }}<br>
      Dias de atendimento - {{ tecnico.horariosDisponiveis }}<br>
      Telefone para contato - {{ tecnico.telefone }}<br>

      Email - {{ tecnico.email }}<br>
    </ion-card-content>



    <ion-button id="{{tecnico.nome}}" class="custom-button" style="width: 90%; margin-left: 18px;">Contratar</ion-button> 


    <ion-modal id="example-modal" #modal trigger="{{tecnico.nome}}">
      <ng-template>
        <div class="wrapper">
          <ion-list lines="none" style="width: 80%; margin-left: 42px">


            <ion-item button="true" detail="false">
              <ion-icon name="person-circle"></ion-icon>
              <h2 style="margin-top: 10px;">Descreva o problema</h2>
              <textarea style="width: 100%; height: 100px; color: black; margin-left: 5px;"
                [(ngModel)]="descricaoModal"></textarea>
            </ion-item>

            <ion-item button="true" detail="false" style="height: 80%;">
              <ion-label>Escolha a data</ion-label>
              <input type="date" [(ngModel)]="dataModal">
            </ion-item>

            <ion-item button="true" detail="false" style="height: 80%;">
              <ion-label>Escolha a hora</ion-label>
              <input type="time" [(ngModel)]="horaModal">
            </ion-item>

            <ion-item button="true" detail="false" class="custom-button">
              <ion-button style="width: 100%;" color="dark"
                (click)="fazerPedido(descricaoModal, dataModal, horaModal)">Fazer pedido</ion-button>
            </ion-item>


            <ion-item button="true" detail="false" (click)="modal.dismiss()" class="custom-button">
              <ion-button style="width: 100%;" color="dark">Fechar</ion-button>
            </ion-item>
          </ion-list>
        </div>
      </ng-template>
    </ion-modal>

  </ion-card>

</ion-content>