<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let itens of getItensCarrinho(); let i = index">
    <img [src]="itens.produto.image" />
    <ion-card-header>
      <ion-card-title>{{ itens.produto.nome }}</ion-card-title>
      <ion-card-subtitle>
        <div class="pcort">{{ itens.produto.preco.replace('.', ',') }}</div>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-button class="custom-button" (click)="removerDoCarrinho(i)" (click)="diminuir()" expand="full" color="danger">REMOVER</ion-button>

  </ion-card>
</ion-content>



