ion-header {
    ion-toolbar {
      ion-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-left: 80px;
        color: #FF6F00;
        font-weight: bold;
      }
    }
  }

  