
<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">

          <ion-title>
            <img src="../assets/logos/logo.png" alt="Logo" style="max-width: 200%; height: auto; width: 100px;">
          </ion-title>
          
          <div class="dark-mode-container">
            <ion-icon class="dark-mode-icon" name="contrast-outline"></ion-icon>
            <ion-label class="dark-mode-text" style="margin-left: 10px;">Modo Escuro</ion-label>
            <ion-toggle class="dark-mode-toggle" slot="end" mode="ios" [checked]="darkMode" (ionChange)="toggleDarkMode()" style="margin-left: 60px;"></ion-toggle>
          </div>
          
          <ion-list-header>Menu principal</ion-list-header>
          
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        
      </ion-content>
    </ion-menu>

    <ion-tabs>

      <ion-tab-bar color="light" slot="bottom">
        <ion-tab-button tab="produtos" href="/produtos">
          <ion-icon aria-hidden="true" name="bag-handle-sharp"></ion-icon>
          <ion-label style="font-weight: bold;">Produtos</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="carrinho" href="/carrinho">
          <ion-icon aria-hidden="true" name="cart-sharp"></ion-icon>
          <ion-label style="font-weight: bold;">Carrinho</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="perfil" href="/perfil">
          <img class="rounded-logo" src="../assets/logos/logo.png" alt="Logo" style="max-width: 200%; height: auto;">
          <ion-label style="font-weight: bold;"></ion-label>
        </ion-tab-button>
        
    
          <ion-tab-button tab="serv-tecnico" href="/serv-tecnico">
            <ion-icon aria-hidden="true" name="construct-sharp"></ion-icon>
            <ion-label style="font-weight: bold;">Técnicos</ion-label>
          </ion-tab-button>
    
           <ion-tab-button tab="folder/home" href="/folder/home">
            <ion-icon aria-hidden="true" name="person-sharp"></ion-icon>
            <ion-label style="font-weight: bold;">Eu</ion-label>
          </ion-tab-button>
        
      </ion-tab-bar>
    
    </ion-tabs>
 
    <ion-toast [isOpen]="isToastOpen" message={{mensagem}} [duration]="5000" (didDismiss)="setOpen(false)"></ion-toast>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
