<ion-content>
  <h1>Cadastro Pessoal</h1>

  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input  name="nome" type="text" required #nome></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Sobrenome</ion-label>
    <ion-input  name="sobrenome" type="text" required #sobrenome></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Sexo</ion-label>
    <ion-select  name="sexo" required #sexo>
      <ion-select-option value="masculino">Masculino</ion-select-option>
      <ion-select-option value="feminino">Feminino</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Data de Nascimento</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" name="nascimento" required #nascimento></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating">CPF</ion-label>
    <ion-input  name="cpf" type="text" required #cpf></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Telefone</ion-label>
    <ion-input name="telefone" type="tel" required #telefone></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">CEP</ion-label>
    <ion-input name="cep" type="text" required #cep></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Endereço</ion-label>
    <ion-input name="rua" type="text" required #endereco></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Habilidádes</ion-label>
    <ion-input name="numero" type="text" required #habilidades ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Empregos Anteriores</ion-label>
    <ion-input name="complemento" type="text" #empregosAnteriores></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">tempo Experiencia</ion-label>
    <ion-input name="referencia" type="text" #tempoExperiencia></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nivel Educacao</ion-label>
    <ion-input name="bairro" type="text" required #nivelEducacao></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Horarios Disponiveis</ion-label>
    <ion-input name="cidade" type="text" required #horariosDisponiveis></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="cadTec(nome.value, sobrenome.value, sexo.value, nascimento.value, cpf.value, telefone.value , cep.value ,  endereco.value, habilidades.value, empregosAnteriores.value, tempoExperiencia.value, nivelEducacao.value, horariosDisponiveis.value)">Cadastrar</ion-button>
</ion-content>
